__pycache__/

# Venvs
.venv_*/

DeepLearningAI.RAGClass/

discard/

gpt-fast/

/llama_cpp/*
!/llama_cpp/llama_cpp.ipynb
!/llama_cpp/llama_file.ipynb
!/llama_cpp/llm.ipynb
!/llama_cpp/ollama.ipynb
!/llama_cpp/README

default.sqlite

/demo_medicare_handbook/chat_logs
/demo_medicare_handbook/gradio_RAG
/demo_medicare_handbook/huggingface_demo/.streamlit
/demo_medicare_handbook/huggingface_demo/aws-neuron-samples
/demo_medicare_handbook/huggingface_demo/Mistral-neuron
/demo_medicare_handbook/huggingface_demo/mistralai
/demo_medicare_handbook/huggingface_demo/tmp_files
/demo_medicare_handbook/huggingface_demo/mistral.sqlite

/demo_medicare_handbook/RAG/.streamlit
/demo_medicare_handbook/RAG/storage

