accelerate==0.25.0
dash==2.15.0
dash_bootstrap_components==1.5.0
datasets==2.16.1
diffusers==0.27.2
evaluate==0.4.2
filelock==3.14.0
gradio==4.37.1
h5py==3.11.0
huggingface_hub==0.19.4
langchain==0.1.17
llama_index==0.10.33
neuronx_distributed==0.1
nltk==3.9
numpy==1.25.2
openai==1.25.0
optimum==1.16.2
optimum_neuron==0.0.3
pandas==2.2.2
Pillow==10.3.0
Pillow==10.3.0
pyttsx3==2.90
Requests==2.32.2
scikit_learn==1.3.2
scipy==1.13.0
soundfile==0.12.1
spaces==0.27.0
timm==0.9.16
torch==2.2.0
torch_neuron==1.0
torch_neuronx==1.0
torch_xla==2.3.0
torchvision==0.16.2
tqdm==4.66.3
transformers==4.38.0
transformers_neuronx==0.9.474
trulens_eval==0.19.2
